body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:386px;
  top:-176px;
  width:389px;
  height:802px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:802px;
}
#u1 {
  position:absolute;
  left:2px;
  top:393px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:60px;
  width:580px;
  height:330px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
}
#u3 {
  position:absolute;
  left:2px;
  top:157px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:615px;
  top:78px;
  width:80px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:615px;
  top:163px;
  width:80px;
  height:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:740px;
  top:78px;
  width:80px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:740px;
  top:163px;
  width:80px;
  height:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:490px;
  top:78px;
  width:80px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:490px;
  top:163px;
  width:80px;
  height:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:290px;
  top:60px;
  width:160px;
  height:330px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:330px;
}
#u18 {
  position:absolute;
  left:2px;
  top:157px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:290px;
  top:97px;
  width:160px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:3px;
  width:160px;
  height:5px;
}
#u20 {
  position:absolute;
  left:290px;
  top:107px;
  width:160px;
  height:43px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:290px;
  top:153px;
  width:160px;
  height:43px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:290px;
  top:199px;
  width:160px;
  height:43px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:290px;
  top:245px;
  width:160px;
  height:43px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:290px;
  top:291px;
  width:160px;
  height:43px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:540px;
  top:78px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:790px;
  top:78px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:665px;
  top:78px;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:487px;
  top:153px;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u44 {
  position:absolute;
  left:2px;
  top:72px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:20px;
  top:35px;
  width:166px;
  height:71px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:71px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:6px;
  top:123px;
  width:92px;
  height:30px;
  opacity:0;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:108px;
  top:123px;
  width:92px;
  height:30px;
  opacity:0;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:487px;
  top:153px;
  visibility:hidden;
}
#u51_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u54 {
  position:absolute;
  left:2px;
  top:72px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:35px;
  width:166px;
  height:71px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:71px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:106px;
  top:123px;
  width:100px;
  height:30px;
  opacity:0;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:2px;
  top:122px;
  width:100px;
  height:30px;
  opacity:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:290px;
  top:199px;
  width:160px;
  height:43px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:290px;
  top:245px;
  width:160px;
  height:43px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:290px;
  top:291px;
  width:160px;
  height:43px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:290px;
  top:60px;
  width:160px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:290px;
  top:60px;
  visibility:hidden;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
  opacity:0.6;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
}
#u72 {
  position:absolute;
  left:2px;
  top:157px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:100px;
  top:240px;
  width:380px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:100px;
  top:240px;
  width:70px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:247px;
  top:244px;
  width:83px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
