body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:386px;
  top:-176px;
  width:389px;
  height:802px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:802px;
}
#u2 {
  position:absolute;
  left:2px;
  top:393px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:290px;
  top:60px;
  width:580px;
  height:330px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
}
#u4 {
  position:absolute;
  left:2px;
  top:157px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:350px;
  top:120px;
  width:100px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:520px;
  top:120px;
  width:100px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:700px;
  top:120px;
  width:100px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:350px;
  top:220px;
  width:100px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:290px;
  top:330px;
  width:580px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:298px;
  top:339px;
  width:45px;
  height:45px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:356px;
  top:362px;
  width:88px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:565px;
  top:361px;
  width:165px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:565px;
  top:361px;
  width:55px;
  height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:499px;
  top:365px;
  width:66px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:790px;
  top:310px;
  width:70px;
  height:64px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:290px;
  top:60px;
  width:100px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:537px;
  top:70px;
  width:66px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
