body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:386px;
  top:-176px;
  width:389px;
  height:802px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:802px;
}
#u1 {
  position:absolute;
  left:2px;
  top:393px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:60px;
  width:580px;
  height:330px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:330px;
}
#u3 {
  position:absolute;
  left:2px;
  top:157px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:290px;
  top:60px;
  width:160px;
  height:330px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:330px;
}
#u6 {
  position:absolute;
  left:2px;
  top:157px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:290px;
  top:97px;
  width:160px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:3px;
  width:160px;
  height:5px;
}
#u8 {
  position:absolute;
  left:290px;
  top:245px;
  width:160px;
  height:43px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:500px;
  top:88px;
  width:80px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:173px;
  width:80px;
  height:16px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:625px;
  top:88px;
  width:80px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:625px;
  top:173px;
  width:80px;
  height:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:550px;
  top:88px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:675px;
  top:88px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:290px;
  top:107px;
  width:160px;
  height:43px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:290px;
  top:199px;
  width:160px;
  height:43px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:290px;
  top:291px;
  width:160px;
  height:43px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:290px;
  top:153px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:290px;
  top:60px;
  width:160px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
